.ngfTopBar {
  background-color: $brandDarkBgColor;
  border-bottom: 4px solid $brandPrimaryColor;
  font-family: $font-family-raleway-light;
  height: 70px;

  h1 {
    color: $brandTextGrey;
    font-weight: normal;
  }
}