@font-face {
  font-family: 'Raleway-Light';
  src: url('styles/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-raleway-light: Raleway-Light, sans-serif;