<div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ title }}</h2>
            <div flex class="flex"></div>
            <md-button class="md-fab md-primary md-mini" aria-label="Add stock" ng-click="addItem()">
                <md-icon><i class="material-icons">add</i></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table>
            <thead md-head md-order="myOrder">
            <th md-column ng-repeat="columnName in columnNames">{{ columnName }}</th>
            </thead>

            <tbody md-body>
            <tr ng-repeat="item in items | orderBy: myOrder">
                <td md-cell>{{item.symbol}}</td>
                <td md-cell>{{item.name}}</td>
                <td md-cell>{{item.count}}</td>
                <td md-cell>{{item.data.Close}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
