<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ title }}</h2>
            <div flex class="flex"></div>
            <md-button class="md-fab md-primary md-mini" aria-label="Add stock" ng-click="addItem()">
                <md-icon><i class="material-icons">add</i></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select multiple>
            <thead md-head md-order="myOrder">
            <tr md-row>
                <th md-column ng-repeat="fieldDataItem in fieldData">{{ fieldDataItem.columnName }}</th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row md-auto-select ng-repeat="item in items | orderBy: myOrder">
                <td md-cell ng-repeat="fieldDataItem in fieldData">
                    {{ fieldDataItem.dataField ? item.data[fieldDataItem.fieldName] : item[fieldDataItem.fieldName] }}
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>
