<section class="ngfSidebar">
    <md-sidenav layout-column class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-content layout-fill role="navigation">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <div><a href="" ui-sref="main">Main page</a></div>
                <div><a href="" ui-sref="currency">Currency page</a></div>
            </section>
        </md-content>
    </md-sidenav>
</section>
